:root {
	--nightMode-label: url(assets/img/dark_mode.svg);
	--color-background: #48A2F9;
	--color-text: #fff ;
	--color-placeholder: #fff;
	--color-background-components: #48F98F;
	--color-components: #40DBAA;
	--color-button: #52F2ED;
	--color-button-active: #40B7DB;
	--color-iten: #52F2ED;
	--color-selected: #40B7DB;
	--color-iten-completed: #40DBAA;
}
.DarkMode{
    --nightMode-label: url(./assets/img/light_mode.svg);
	--color-background: #636363;
	--color-text: #fff ;
	--color-background-components: #000;
	--color-components:#636363;
	--color-button: #fff;
	--color-iten: #000;
	--color-selected: #363636;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 2s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

button {
	border: unset;
	background-color: unset;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit; 
}

@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

body {
	display: flex;
	justify-content: center;
	font-family: 'Manjari', sans-serif;
	color: var(--color-text);
	background-color: var(--color-background);
	height: 100%;
	width: 100%;
	padding: 16px;
	box-sizing: border-box;
}

#root {
	width: 100%;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: unset;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}